<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body onload="loadOwner()">
    <%- include('../partials/__nav') %>
    <div class="container">
      <%- include('../partials/__message') %>
        <div class="row">
          <div class="col">
            <form action="/owner/tambahkan" method="post">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Nama Lengkap</label>
                  <input type="text" class="form-control" id="InputName" name="nama_pemilik">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Alamat</label>
                  <input type="text" class="form-control" id="InputAdress" name="alamat">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">KTP</label>
                  <input type="text" class="form-control" id="InputKTP" name="ktp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Nomor Telephone</label>
                  <input type="text" class="form-control" id="InputTelephone" name="no_hp">
                </div>
                <button type="submit" class="btn btn-primary" id="nextButton">Berikutnya</button>
              </form>
          </div>  
        </div>
    </div>
    <%- include('../partials/__foot') %>