<%- include('../partials/__head') %>
<div class="container">
    <h2>Bidding</h2>
    <form id="login-form" action="/tawar/tambahkan" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Jumlah Tawaran</label>
        <input type="text" class="form-control" id="InputName" name="jumlah_tawar">
      </div>
      <div class="mb-3">
        
      </div>
</div>
<button type="submit" class="btn btn-primary" id="nextButton">simpan</button>
</form>
<%- include('../partials/__foot') %>